<app-filter-bar (search)="newSearch($event)"></app-filter-bar>

<div class="card-container">
  <mat-card
    class="card"
    *ngFor="let character of allCharacters$ | async"
    [routerLink]="'/character/' + character.id"
  >
    <mat-card-title>{{ character.name | uppercase }}</mat-card-title>
    <mat-card-subtitle>{{ character.type || "n/a" }}</mat-card-subtitle>

    <img
      mat-card-image
      [src]="character.image"
      alt="Photo of {{ character.name }}"
    />
    <mat-card-content>
      <strong>Species: </strong>&nbsp;{{ character.species }}
      <strong>Origin: </strong>&nbsp;{{ character.origin.name }}
      <ng-container *ngIf="character.status !== 'unknown'">
        <strong>Status: </strong> {{ character.status }}
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>
