@import "~@angular/material/theming";

.card-container {
  margin-top: 16px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;

  .card {
    cursor: pointer;

    &:hover {
      @include mat-elevation(8);
    }
  }
}
