<a mat-flat-button routerLink="/characters" class="back-btn">
  <mat-icon>undo</mat-icon>Retour a la liste des personnages
</a>

<mat-card class="card" *ngIf="character">
  <img [alt]="character.name" [src]="character.image" />
  <div class="container">
    <h1
      [class.alive]="character.status === 'Alive'"
      [class.dead]="character.status === 'Dead'"
    >
      {{ character.name }}
    </h1>
    <p>Status : {{ character.status }}</p>
    <p>Species : {{ character.species }}</p>
    <p>Genre : {{ character.gender }}</p>
    <p>Origin : {{ character.origin.name }}</p>
    <p>Dernier emplacement connu: {{ character.location.name }}</p>
  </div>
</mat-card>
