.back-btn {
  margin: 4px 0;
}

.card {
  margin-top: 4px;
  display: flex;

  img {
    max-width: 300px;
  }

  .container {
    padding: 0 16px;
  }
}

.alive {
  color: green;
}

.dead {
  color: red;
}
